<!-- 头图 begin -->
<div class="bg-grey">
<div class="carousel">
  <img src="http://ww1.sinaimg.cn/large/006tNc79ly1ffrxyevpt6j30ua0ht1kx.jpg"></src>
  <h2 class="slogan"> 可能是你用过的最<span class="sub-slogan1">上镜</span>的瓷器 </h2>
  <p class="sub-slogan2"> 所有食物都百搭，自带美颜效果的瓷器 </p>
  <%= link_to("了解更多", products_path, class: "btn btn-danger btn-lg call-action") %>
</div>
<!-- 头图 end -->

<!-- 3大好处 begin -->
<div class="lp-section-3 clearfix">
  <div class="content-3">
    <div class="feature-title">
      <div class="short-line">
        <p></p>
      </div>
    </div>
    <div class="feature-block">
      <img src="https://ooo.0o0.ooo/2017/05/22/5921bb58cf5b0.jpg">
      <br>
      <h3>发朋友圈“利器”</h3>
      <p>美美做了一顿饭却怎么也拍不出别人家的效果？可能是你的餐具没选对！采用珍贵的玛瑙调制釉色，烧制成型的餐具自带光泽，怎么拍都上镜！</p>
    </div>
    <div class="feature-block">
      <img src="https://ooo.0o0.ooo/2017/05/22/5921c5dd1f10e.jpg">
      <br>
      <h3>各种釉色随心挑</h3>
      <p>不喜欢总是用同一种单调的瓷器？天青色，秘色，豆青色，月白色，4种釉色随你挑，总有你喜欢的那一款</p>
    </div>
    <div class="feature-block">
      <img src="https://ooo.0o0.ooo/2017/05/22/5921c5dd829f0.jpg">
      <br>
      <h3>其他配套好物一键取得</h3>
      <p>去超市买来的餐具都不成套？想要买一些其他器物总也搭配不起来？茶器，花器，香器，酒器，餐器一应俱全，每种釉色即为一套，再也不用烦心搭配问题</p>
    </div>
  </div>
</div>


<!-- 3大介绍 end -->

<!-- 发展历史 begin -->

<div class="companyIntro">
  <div class="companyIntro-section">
    <div class="left-block1">
      <img src="http://ww4.sinaimg.cn/large/006tNbRwly1fft00whsbzj30k00f0h2x.jpg" width= 70% >
    </div>
    <div class="right-block1">
      2013 --- 巴黎大皇宫•世界顶级手工艺术双年展
    </div>
  </div>

  <div class="companyIntro-section">
    <div class="left-block2">
    2014 --- 中南海•紫光阁永藏 <br>
    <a href="http://www.cctvmlzhx.com/info.asp?id=385"> 中央电视台《美丽中华行》节目录制 </a>
    </div>
    <div class="right-block2">
      <img src="http://ww4.sinaimg.cn/large/006tNbRwly1fft14c8hy3j30k00f07m1.jpg">
    </div>
  </div>

  <div class="companyIntro-section">
    <div class="left-block3">
      <img src="http://ww3.sinaimg.cn/large/006tNbRwly1fft149h77uj30k00f0tsi.jpg">
    </div>
    <div class="right-block3">
      2015 --- 米兰世博会•中国馆卢钧窑专场<br>
      入选为《上合组织30国领导人峰会》指定用瓷
    </div>
  </div>
<!-- 发展历史 end -->

<!-- 用户反馈 -->
<section id="testimonial" class="talk-about-us">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <h2 class="section-title">【别人怎么拍】</h2><br>
                <div class="short-line"></div>
                <div id="talk-about-us" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#talk-about-us" data-slide-to="0" class=""></li>
                    <li data-target="#talk-about-us" data-slide-to="1" class="active"></li>
                    <li data-target="#talk-about-us" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="item">

                      <img src="http://ww4.sinaimg.cn/large/006tNbRwly1fftamal53bj30m80m8tbb.jpg" alt="User 1">

                    </div>
                    <div class="item active">

                      <img src="http://ww4.sinaimg.cn/large/006tNbRwly1fftbrgust7j30m80gomyr.jpg" alt="User 2">

                    </div>
                    <div class="item">

                      <img src="https://ooo.0o0.ooo/2017/05/22/5921c9dd17b02.jpeg" alt="User 3">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
<!-- end 用户反馈 -->
