<div class="row">
  <div class="col-md-12">
    <h2>
      订单明细 <br>
      <small><%= link_to("订单连结", order_url(@order.token)) %></small>
    </h2>
    <%= render :partial => "mail_form" %>
  </div>
</div>
