/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";




 .layout-admin{
   position: relative;
   padding-bottom:80px;
   margin-bottom:-80px;
   min-height: 100%;
 }
 .layout-application{
   position:relative;
   padding-bottom:80px;
   margin-bottom:-80px;
   min-height: 100%;
 }
 // 导航栏样式
 .navbar-default{
   margin-bottom: 0;
   border-radius:0;
   background-color: rgb(93,64,55);
   .navbar-header{
     margin-left: 6%;
     a {
       color:white;
       transition:0.35s;
     }
   }
   .navbar-nav li a {
     color:white;
   }
   .navbar-nav li a:hover {
     color:green;
   }
   .dropdown-menu{
     background:rgb(93,64,55);
   }
 }
// 页脚样式
  .page-footer {
     position:absolute;
     background-color: rgb(250,246,246);
     height:80px;
     width:100%;
     border-top: 1px solid #dedede;
     padding-top:20px;
  }



 // 头像
   .avatar {
     position:relative;
     bottom:5px;
     margin-left: 10px;
   }

   .caret{
     margin-right: 30px;
     margin-left:10px;
     position:relative;
     top:10px;
   }
