<div class="header">
  <div class="header-content">
    <div class="logo">
      <%= link_to("窑钧瓷", products_path )%>
    </div>
    <div class="search-bar">
      <%= render "products/search_bar"%>
    </div>
    <div class="cart-bar">
      <div class="cart">
        <%= link_to carts_path do %>
           <i class="fa fa-shopping-cart fa-lg"></i>购物车
          <span id="cart-count"><%= current_cart.cart_items.count %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
