<div class=" search-frame">
  <%= form_tag search_products_path, method: :get  do %>
    <div class="search-input">
      <input type="text" class="form-control" name="query_string" value="<%= params[:query_string]%>" placeholder="好茶搜索...">
    </div>
    <button class=" fa fa-search"></button>
  <% end %>
</div>
