

<div class="footerWrapper">
<div class="footer">
		<div class="footer-picture">
			<img src="http://ww3.sinaimg.cn/large/006tNc79ly1ffyvaxa4xtj303800tt8j.jpg">
            <span>(0374-8611283)</span>
			<img src="http://ww1.sinaimg.cn/large/006tNc79ly1ffyvaxn01uj304k00tjr8.jpg">
			<img src="http://ww1.sinaimg.cn/large/006tNc79ly1ffyvaxioafj304b00tjr8.jpg">
			<img src="http://ww4.sinaimg.cn/large/006tNc79ly1ffyvaxeegmj303f00tt8j.jpg">
		</div>
		<ul class="footer-info" style="list-style-type:none">
			<li>订单操作</li>
			<li>官方微信</li>
			<li>联系我们</li>
			<li>防伪查询</li>
			<li>零售网点</li>
			<li>Designed by 笑飞飞 & 雷超凡</li>
		</ul>
	</div>
</div>
